/target/
/.idea/
/.settings/
/build/
/.classpath
/.project
/Users/itol/Desktop/springbootlearn-1/src/main/resources/application.yml
/Users/itol/Desktop/springbootlearn-1/src/main/resources/application.properties
*.iml