<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.ClubMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.entity.Club">
    <id column="club_Id" jdbcType="VARCHAR" property="clubId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="la" jdbcType="DECIMAL" property="la" />
    <result column="lo" jdbcType="DECIMAL" property="lo" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="area" jdbcType="REAL" property="area" />
    <result column="open_time" jdbcType="TIME" property="openTime" />
    <result column="close_time" jdbcType="TIME" property="closeTime" />
    <result column="jcss" jdbcType="VARCHAR" property="jcss" />
  </resultMap>
  <sql id="Base_Column_List">
    club_Id, name, la, lo, icon, address, tel, photo, type, area, open_time, close_time, 
    jcss
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from club
    where club_Id = #{clubId,jdbcType=VARCHAR}
  </select>
  <select id="selectByView" parameterType="java.lang.String" resultType="map">
    select *
    from v_coach_lesson
    where club_Id = #{clubId,jdbcType=VARCHAR}
    <if test="startTime != null ">
      and start_time_1 like CONCAT('%',#{startTime,jdbcType=VARCHAR},'%')
    </if>
    <if test="status != null and status !=  '' or status == 0">
      and status=#{status,jdbcType=TINYINT}
    </if>

  </select>
  <select id="selectByView_id" parameterType="java.lang.String" resultType="map">
    select *
    from v_coach_lesson
    where club_Id = #{clubId,jdbcType=VARCHAR}
    <if test="startTime != null ">
      and start_time_1 like CONCAT('%',#{startTime,jdbcType=VARCHAR},'%')
    </if>
  </select>
  <select id="selectCoachById" parameterType="java.lang.String" resultType="map">
    select *
    from coach a ,course b
    where a.coach_id=b.coach_id and
    b.club_id = #{clubId,jdbcType=VARCHAR}
  </select>
  <select id="selectMaxId" resultType="java.lang.String">
    select max(club_id)
    from club
  </select>
  <select id="selectLessByView" parameterType="java.lang.String" resultType="map">
    select *
    from v_coach_lesson
    where club_Id = #{clubId,jdbcType=VARCHAR}
    and start_time_1 like CONCAT('%',#{startTime,jdbcType=VARCHAR},'%')
    <if test="status != null and status !=  '' or status == 0">
      and status=#{status,jdbcType=TINYINT}
    </if>

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from club
    where club_Id = #{clubId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.atguigu.entity.Club">
    insert into club (club_Id, name, la, 
      lo, icon, address, 
      tel, photo, type, area, 
      open_time, close_time, jcss
      )
    values (#{clubId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{la,jdbcType=DECIMAL}, 
      #{lo,jdbcType=DECIMAL}, #{icon,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{area,jdbcType=REAL}, 
      #{openTime,jdbcType=TIME}, #{closeTime,jdbcType=TIME}, #{jcss,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.entity.Club">
    insert into club
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clubId != null">
        club_Id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="la != null">
        la,
      </if>
      <if test="lo != null">
        lo,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="openTime != null">
        open_time,
      </if>
      <if test="closeTime != null">
        close_time,
      </if>
      <if test="jcss != null">
        jcss,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clubId != null">
        #{clubId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="la != null">
        #{la,jdbcType=DECIMAL},
      </if>
      <if test="lo != null">
        #{lo,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="area != null">
        #{area,jdbcType=REAL},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=TIME},
      </if>
      <if test="closeTime != null">
        #{closeTime,jdbcType=TIME},
      </if>
      <if test="jcss != null">
        #{jcss,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.entity.Club">
    update club
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="la != null">
        la = #{la,jdbcType=DECIMAL},
      </if>
      <if test="lo != null">
        lo = #{lo,jdbcType=DECIMAL},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=REAL},
      </if>
      <if test="openTime != null">
        open_time = #{openTime,jdbcType=TIME},
      </if>
      <if test="closeTime != null">
        close_time = #{closeTime,jdbcType=TIME},
      </if>
      <if test="jcss != null">
        jcss = #{jcss,jdbcType=VARCHAR},
      </if>
    </set>
    where club_Id = #{clubId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.entity.Club">
    update club
    set name = #{name,jdbcType=VARCHAR},
      la = #{la,jdbcType=DECIMAL},
      lo = #{lo,jdbcType=DECIMAL},
      icon = #{icon,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      area = #{area,jdbcType=REAL},
      open_time = #{openTime,jdbcType=TIME},
      close_time = #{closeTime,jdbcType=TIME},
      jcss = #{jcss,jdbcType=VARCHAR}
    where club_Id = #{clubId,jdbcType=VARCHAR}
  </update>

  <select id="selectByCoachId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    distinct a.*
    from club a ,course b
    where a.club_id=b.club_id and
    b.coach_id = #{coachId,jdbcType=VARCHAR}
  </select>
  <select id="selectMyMemId" resultType="map">
    select distinct mem_Id
    from member_course
    where course_id in
    (select course_id from course
    where club_id=#{clubId,jdbcType=VARCHAR})
  </select>
</mapper>