<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.dao.CoachCourseMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.entity.CoachCourse" >
    <result column="coach_Id" property="coachId" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="total_lesson" property="totalLesson" jdbcType="TINYINT" />
    <result column="used" property="used" jdbcType="TINYINT" />
    <result column="rem" property="rem" jdbcType="TINYINT" />
    <result column="club_id" property="clubId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    coach_Id, course_id, total_lesson, used, rem, club_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from coach_course
    where coach_Id = #{coachId,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.atguigu.entity.CoachCourse" >
    insert into coach_course (coach_Id, course_id, total_lesson, 
      used, rem, club_id, 
      status)
    values (#{coachId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, #{totalLesson,jdbcType=TINYINT}, 
      #{used,jdbcType=TINYINT}, #{rem,jdbcType=TINYINT}, #{clubId,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.entity.CoachCourse" >
    insert into coach_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="coachId != null" >
        coach_Id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="totalLesson != null" >
        total_lesson,
      </if>
      <if test="used != null" >
        used,
      </if>
      <if test="rem != null" >
        rem,
      </if>
      <if test="clubId != null" >
        club_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coachId != null" >
        #{coachId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="totalLesson != null" >
        #{totalLesson,jdbcType=TINYINT},
      </if>
      <if test="used != null" >
        #{used,jdbcType=TINYINT},
      </if>
      <if test="rem != null" >
        #{rem,jdbcType=TINYINT},
      </if>
      <if test="clubId != null" >
        #{clubId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>