<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.dao.CoachMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.entity.Coach" >
    <id column="coach_Id" property="coachId" jdbcType="VARCHAR" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="TINYINT" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="DECIMAL" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <!--<association property="" javaType="com.atguigu.dao.CourseMapper">-->
       <!--<id property="clubId" column="club_id"/>-->
    <!--</association>-->
  </resultMap>
  <sql id="Base_Column_List" >
    coach_Id, no, name, nick_name, age, tel, height, weight, birthday, sex, icon, score, 
    comment, type,introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from coach
    where coach_Id = #{coachId,jdbcType=VARCHAR}
  </select>
  <select id="selectMyMemId" resultType="map">
      select distinct mem_Id
      from member_course
      where course_id in
        (select course_id from course
        where coach_id=#{coachId,jdbcType=VARCHAR})
  </select>
  <select id="selectByClubId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    distinct a.*
    from coach a ,course b
    where a.coach_id=b.coach_id and
    b.club_id = #{coachId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from coach
    where coach_Id = #{coachId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.atguigu.entity.Coach" >
    insert into coach (coach_Id, no, name, 
      nick_name, age, tel, 
      height, weight, birthday, 
      sex, icon, score, comment, 
      type,introduction)
    values (#{coachId,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{age,jdbcType=TINYINT}, #{tel,jdbcType=VARCHAR}, 
      #{height,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, #{birthday,jdbcType=DATE}, 
      #{sex,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, #{comment,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT},#{introduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.entity.Coach" >
    insert into coach
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="coachId != null" >
        coach_Id,
      </if>
      <if test="no != null" >
        no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coachId != null" >
        #{coachId,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=TINYINT},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.entity.Coach" >
    update coach
    <set >
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="icon !=null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
    </set>
    where coach_Id = #{coachId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.entity.Coach" >
    update coach
    set no = #{no,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      age = #{age,jdbcType=TINYINT},
      tel = #{tel,jdbcType=VARCHAR},
      height = #{height,jdbcType=DECIMAL},
      weight = #{weight,jdbcType=DECIMAL},
      birthday = #{birthday,jdbcType=DATE},
      sex = #{sex,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      comment = #{comment,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      introduction = #{introduction,jdbcType=VARCHAR}
    where coach_Id = #{coachId,jdbcType=VARCHAR}
  </update>
  <select id="getCoachInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from coach where coach_Id = #{coachId,jdbcType=VARCHAR}
  </select>
  <select id="getCoachInfoByView" resultType="map" parameterType="java.lang.String">
    select * from v_coach where coach_Id = #{coachId,jdbcType=VARCHAR}
  </select>

  <select id="selectCoach" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from coach
    where 1=1
    <if test="coachId != null">
      coach_Id = #{coachId,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>