<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MemberCourseMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.entity.MemberCourse">
    <id column="kc_id" jdbcType="VARCHAR" property="kcId" />
    <result column="mem_Id" jdbcType="VARCHAR" property="memId" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="total_lesson" jdbcType="INTEGER" property="totalLesson" />
    <result column="used" jdbcType="INTEGER" property="used" />
    <result column="rem" jdbcType="INTEGER" property="rem" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="bz1" jdbcType="VARCHAR" property="bz1" />
    <result column="buy_time" jdbcType="TIMESTAMP" property="buy_time" />
    <result column="buy_count" jdbcType="VARCHAR" property="buy_count" />
  </resultMap>
  <sql id="Base_Column_List">
    kc_id, mem_Id, course_id, total_lesson, used, rem, status, bz1,buy_time,buy_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_course
    where kc_id = #{kcId,jdbcType=VARCHAR}
  </select>
  <select id="selectMemCourseSum" resultType="map">
    select sum(total_lesson) total,sum(used) used,sum(rem) rem
    from member_course
    where mem_id= #{memId,jdbcType=VARCHAR}
  </select>
  <select id="selectMemCourseInfo1" resultType="map">
    select * from
     v_member_course
    where mem_id= #{memId,jdbcType=VARCHAR}
  </select>
    <select id="selectByMemId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member_course
        where mem_Id = #{memId,jdbcType=VARCHAR}
    </select>

  <select id="selectMaxKcId" resultType="java.lang.String">
    select max(kc_id)
    from member_course
    where kc_id like CONCAT('%',date_format(now(), '%Y%m%d'),'%')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from member_course
    where kc_id = #{kcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.atguigu.entity.MemberCourse">
    insert into member_course (kc_id, mem_Id, course_id, 
      total_lesson, used, rem, 
      status, bz1)
    values (#{kcId,jdbcType=VARCHAR}, #{memId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, 
      #{totalLesson,jdbcType=TINYINT}, #{used,jdbcType=TINYINT}, #{rem,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{bz1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.entity.MemberCourse">
    insert into member_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kcId != null">
        kc_id,
      </if>
      <if test="memId != null">
        mem_Id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="totalLesson != null">
        total_lesson,
      </if>
      <if test="used != null">
        used,
      </if>
      <if test="rem != null">
        rem,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="bz1 != null">
        bz1,
      </if>
      <if test="buy_time != null">
        buy_time,
      </if>
      <if test="buy_count != null">
        buy_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kcId != null">
        #{kcId,jdbcType=VARCHAR},
      </if>
      <if test="memId != null">
        #{memId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="totalLesson != null">
        #{totalLesson,jdbcType=TINYINT},
      </if>
      <if test="used != null">
        #{used,jdbcType=TINYINT},
      </if>
      <if test="rem != null">
        #{rem,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="bz1 != null">
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="buy_time != null">
        #{buy_time,jdbcType=TIMESTAMP},
      </if>
      <if test="buy_count != null">
        #{buy_count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.entity.MemberCourse">
    update member_course
    <set>
      <if test="memId != null">
        mem_Id = #{memId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="totalLesson != null">
        total_lesson = #{totalLesson,jdbcType=TINYINT},
      </if>
      <if test="used != null">
        used = #{used,jdbcType=TINYINT},
      </if>
      <if test="rem != null">
        rem = #{rem,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="bz1 != null">
        bz1 = #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="buy_time != null">
        buy_time= #{buy_time,jdbcType=TIMESTAMP},
      </if>
      <if test="buy_count != null">
        buy_count= #{buy_count,jdbcType=INTEGER},
      </if>
    </set>
    where kc_id = #{kcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.entity.MemberCourse">
    update member_course
    set mem_Id = #{memId,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=VARCHAR},
      total_lesson = #{totalLesson,jdbcType=TINYINT},
      used = #{used,jdbcType=TINYINT},
      rem = #{rem,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      bz1 = #{bz1,jdbcType=VARCHAR}
    where kc_id = #{kcId,jdbcType=VARCHAR}
  </update>
  <update id="updateMemberNum" parameterType="com.atguigu.entity.MemberLesson">
    update member_course set used=used+1,rem=rem-1
    where kc_id=#{kcId,jdbcType=VARCHAR}
  </update>

  <select id="selectMemCourseInfo" resultType="map" parameterType="java.lang.String">
    select sum(total_lesson) total,sum(used) used,sum(rem) rem
    from member_course
    where mem_id= #{memId,jdbcType=VARCHAR}
    and course_id in (select course_id from course
    where 1=1
    <if test="coachId != ''">
      and coach_id=#{coachId,jdbcType=VARCHAR}
    </if>
    <if test="clubId != ''">
      and club_id=#{clubId,jdbcType=VARCHAR}
    </if>
    )
  </select>
</mapper>