<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.TIncomeDtlMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.entity.TIncomeDtl">
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="coach_id" jdbcType="VARCHAR" property="coachId" />
    <result column="club_id" jdbcType="VARCHAR" property="clubId" />
    <result column="reg_date" jdbcType="DATE" property="regDate" />
    <result column="KT_CNT" jdbcType="DECIMAL" property="ktCnt" />
    <result column="XT_CNT" jdbcType="DECIMAL" property="xtCnt" />
    <result column="bz1" jdbcType="VARCHAR" property="bz1" />
    <result column="bz2" jdbcType="VARCHAR" property="bz2" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
  </resultMap>
  <sql id="Base_Column_List" >
    course_id, coach_id, club_id, reg_date, KT_CNT, XT_CNT, bz1, bz2, reg_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_income_dtl
    where course_id = #{courseId,jdbcType=VARCHAR}
    and reg_date like CONCAT('%',#{regDate,jdbcType=VARCHAR},'%')
  </select>
  <select id="selectCoachLesSum" resultType="map" parameterType="java.lang.String" >
    select
    course_id,coach_id,sum(kt_cnt) kt_sum,sum(xt_cnt) xt_sum
    from t_income_dtl
    where 1=1
    <if test="courseId != null">
      and course_id=#{courseId,jdbcType=VARCHAR}
    </if>
    <if test="coachId != null">
    and coach_id=#{coachId,jdbcType=VARCHAR}
    </if>
    and reg_date =#{regDate,jdbcType=VARCHAR}
    group by course_id,coach_id
  </select>
  <select id="selectClubLesSum" resultType="map" parameterType="java.lang.String" >
    select
    course_id,club_id,sum(kt_cnt) kt_sum
    from t_income_dtl
    where 1=1
    <if test="courseId != null">
      and course_id=#{courseId,jdbcType=VARCHAR}
    </if>
    <if test="clubId != null">
      and club_id=#{clubId,jdbcType=VARCHAR}
    </if>
    and reg_date =#{regDate,jdbcType=VARCHAR}
    group by course_id,club_id
  </select>

  <insert id="insert" parameterType="com.atguigu.entity.TIncomeDtl">
    insert into t_income_dtl (course_id, coach_id, club_id, 
      reg_date, KT_CNT, XT_CNT, 
      bz1, bz2, reg_time
      )
    values (#{courseId,jdbcType=VARCHAR}, #{coachId,jdbcType=VARCHAR}, #{clubId,jdbcType=VARCHAR}, 
      #{regDate,jdbcType=DATE}, #{ktCnt,jdbcType=DECIMAL}, #{xtCnt,jdbcType=DECIMAL}, 
      #{bz1,jdbcType=VARCHAR}, #{bz2,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.entity.TIncomeDtl">
    insert into t_income_dtl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_id,
      </if>
      <if test="coachId != null">
        coach_id,
      </if>
      <if test="clubId != null">
        club_id,
      </if>
      <if test="regDate != null">
        reg_date,
      </if>
      <if test="ktCnt != null">
        KT_CNT,
      </if>
      <if test="xtCnt != null">
        XT_CNT,
      </if>
      <if test="bz1 != null">
        bz1,
      </if>
      <if test="bz2 != null">
        bz2,
      </if>
      <if test="regTime != null">
        reg_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="coachId != null">
        #{coachId,jdbcType=VARCHAR},
      </if>
      <if test="clubId != null">
        #{clubId,jdbcType=VARCHAR},
      </if>
      <if test="regDate != null">
        #{regDate,jdbcType=DATE},
      </if>
      <if test="ktCnt != null">
        #{ktCnt,jdbcType=DECIMAL},
      </if>
      <if test="xtCnt != null">
        #{xtCnt,jdbcType=DECIMAL},
      </if>
      <if test="bz1 != null">
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null">
        #{bz2,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.atguigu.entity.TIncomeDtl">
    update t_income_dtl

    <set >

      <if test="coachId != null">
        coach_id=#{coachId,jdbcType=VARCHAR},
      </if>
      <if test="clubId != null">
        club_id=#{clubId,jdbcType=VARCHAR},
      </if>
      <if test="ktCnt != null">
        kt_cnt=#{ktCnt,jdbcType=DECIMAL},
      </if>
      <if test="xtCnt != null">
       xt_cnt= #{xtCnt,jdbcType=DECIMAL},
      </if>
      <if test="bz1 != null">
       bz1= #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null">
        bz2=#{bz2,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        reg_time=#{regTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where
    <if test="courseId != null">
      course_id= #{courseId,jdbcType=VARCHAR}
    </if>
    <if test="regDate != null">
      and reg_date =#{regDate,jdbcType=DATE}
    </if>
  </update>
</mapper>