<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.dao.UserIconsMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.entity.UserIcons" >
    <id column="icon_name" property="iconName" jdbcType="VARCHAR" />
    <result column="user_Id" property="userId" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="up_time" property="up_time" jdbcType="TIMESTAMP" />
    <result column="bz1" property="bz1" jdbcType="VARCHAR" />
    <result column="bz2" property="bz2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    icon_name, user_Id, icon_url,type,up_time,bz1,bz2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_icons
    where icon_name = #{iconName,jdbcType=VARCHAR}
  </select>
  <select id="selectByUser" resultType="map" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from user_icons
    where user_Id = #{userid,jdbcType=VARCHAR}

  </select>
  <select id="queryCoachInfoIcons" resultType="map" >
    select icon_name icon_name,icon_url icon_url from user_icons where user_id=#{coach_id,jdbcType=VARCHAR}
     and type=#{type,jdbcType=INTEGER} order by up_time desc
  </select>
  <select id="selectByIdType" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user_icons where user_id=#{user_id,jdbcType=VARCHAR}
    and type=#{type,jdbcType=INTEGER} order by up_time desc
  </select>

    <select id="selectByType" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from user_icons
        where type = #{type,jdbcType=INTEGER}
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_icons
    where icon_name = #{iconName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.atguigu.entity.UserIcons" >
    insert into user_icons (icon_name, user_Id, icon_url,type,up_time,bz1,bz2
      )
    values (#{iconName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}
    ,#{type,jdbcType=INTEGER},#{up_time,jdbcType=TIMESTAMP},#{bz1,jdbcType=VARCHAR},#{bz2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.entity.UserIcons" >
    insert into user_icons
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iconName != null" >
        icon_name,
      </if>
      <if test="userId != null" >
        user_Id,
      </if>
      <if test="iconUrl != null" >
        icon_url,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="up_time != null" >
        up_time,
      </if>
      <if test="bz1 != null" >
        bz1,
      </if>
      <if test="bz2 != null" >
        bz2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iconName != null" >
        #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="up_time != null" >
        #{up_time,jdbcType=TIMESTAMP},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=VARCHAR},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.entity.UserIcons" >
    update user_icons
    <set >
      <if test="userId != null" >
        user_Id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where icon_name = #{iconName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.entity.UserIcons" >
    update user_icons
    set user_Id = #{userId,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR}
    where icon_name = #{iconName,jdbcType=VARCHAR}
  </update>
</mapper>